# --------
# requires
# --------

requests
six

# M2Crypto > 0.25.1
#
# FIXME: M2Crypto is only available for Py2. For the transition time, there is
# the M2Crypto hack at:
#
#   https://github.com/return42/m2crypto/commits/six
#
# git+https://github.com/return42/m2crypto@six#egg=M2Crypto
-e file:../m2crypto#egg=M2Crypto --global-option="build_ext"

python-memcached

# ----
# test
# ----

mock

# -------
# develop
# -------

pytest
pytest-cov
pip
pylint
tox
twine
wheel
mock
